@import '../../assets/styles/config';

.custom-loader-circle {
  position: relative;

  &.left {
    float: left;
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  &.right {
    float: right;
  }
}

.custom-loader-circle .custom-circle {
  width: 30px;
  height: 30px;
  position: absolute;

  &__white:before {
    background-color: white !important;
  }

  &__gunmetal:before {
    background-color: $ax-color-gray-7 !important;
  }

  &__red:before {
    background-color: red !important;
  }
}

.custom-loader-margin {
  padding: 10px;
}

.custom-loader-circle .custom-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 10%;
  height: 20%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.custom-loader-circle .custom-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.custom-loader-circle .custom-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}
.custom-loader-circle .custom-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.custom-loader-circle .custom-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}
.custom-loader-circle .custom-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}
.custom-loader-circle .custom-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.custom-loader-circle .custom-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}
.custom-loader-circle .custom-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}
.custom-loader-circle .custom-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.custom-loader-circle .custom-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}
.custom-loader-circle .custom-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}
.custom-loader-circle .custom-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.custom-loader-circle .custom-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.custom-loader-circle .custom-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.custom-loader-circle .custom-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.custom-loader-circle .custom-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.custom-loader-circle .custom-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.custom-loader-circle .custom-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.custom-loader-circle .custom-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.custom-loader-circle .custom-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.custom-loader-circle .custom-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.custom-loader-circle .custom-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}
