@import '../../assets/styles/config';

.tabs {
    &__nav {
        position: relative;
        padding: 20px 20px 0;
        overflow: hidden;
        list-style: none;
        border-bottom: 1px solid #c6cfd1;

        a {
            display: inline-block;
            margin: 0 20px;
            padding: 12px 40px;
            color: $ax-color-teal-6;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            transition: color .2s;

            &.active {
                color: #000;
            }

            i {
                vertical-align: middle;
                margin-right: 4px;
                font-size: 18px;
                color: #aaa;
            }
        }
    }

    &__indicator {
        position: absolute;
        bottom: 0;
        height: 4px;
        background: $ax-color-teal-6;

        &.to-left {
            transition: left .4s, right .4s .07s;
        }

        &.to-right {
            transition: left .4s .07s, right .4s;
        }
    }

    &__content {
        position: relative;
        padding: 16px;
    }
}
