<div class="tabs">
    <div class="tabs__nav" [class.text-center]="navCenter">
        <a *ngFor="let tab of tabs" (click)="selectTab($event, tab)" [ngClass]="{'active': tab.selected}">
            <i *ngIf="tab.tabIcon" class="fa fa-{{ tab.tabIcon }}"></i> {{ tab.tabTitle }}
        </a>
        <div class="tabs__indicator" *ngIf="indicatorPosition"
             [class.to-right]="!indicatorPosition.directionToLeft"
             [class.to-left]="indicatorPosition.directionToLeft"
             [style.left]="indicatorPosition.left + 'px'"
             [style.right]="indicatorPosition.right + 'px'"></div>
    </div>
    <ng-content></ng-content>
</div>
