.example {
    padding: 20px;

    &__icon {
        text-align: center;
        display: inline-block;
        margin: 1rem;
        width: 6rem;
        vertical-align: top;

        & i {
            font-size: 2em;
        }
    }
}
