@import '../../assets/styles/config';

.date-range-selector {
    user-select: none;
    font-weight: normal;

    &__header {
        overflow: hidden;
        margin: -1rem -1rem 0;
        background-color: $ax-color-gray-2;
        border-bottom: 1px solid $ax-color-gray-4;
    }

    &__date-range {
        float: left;
        width: 50%;
        padding: 20px 20px 16px;
        font-weight: 500;
        font-size: .9em;
        text-align: center;
        text-transform: uppercase;
        color: $ax-color-teal-7;
        border-bottom: 3px solid transparent;
        cursor: pointer;

        &.active {
            background-color: rgba($ax-color-cyan, .1);
            border-bottom-color: $ax-color-teal-5;
        }
    }

    &__body {
        overflow: hidden;
        margin: 0 -1rem;
        padding: 20px;
    }

    &__first-month,
    &__second-month {
        float: left;
        width: 50%;
    }

    &__first-month {
        padding-right: 20px;
        border-right: 1px solid $ax-color-gray-3;
    }

    &__second-month {
        padding-left: 20px;
    }

    &__month-title {
        padding: 0 10px 20px;
        font-size: .9em;
        text-align: center;
        text-transform: uppercase;
    }

    &__month-btn {
        padding: 0 4px;
        font-size: 1.4em;
        color: $ax-color-teal-6;
        cursor: pointer;

        &--left {
            float: left;
        }

        &--right {
            float: right;
        }
    }

    &__footer {
        margin: 0 -1rem -1rem;
        padding: 20px;
        background-color: $ax-color-gray-2;
        border-top: 1px solid $ax-color-gray-4;
    }

    &__row {
        display: flex;
        flex-flow: row wrap;
    }

    &__columns {
        flex: 1 1 0px;
    }

    &__day-name {
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
        color: $ax-color-gray-5;
        text-align: center;
    }

    &__cell {
        position: relative;
        margin: 6px 0;
        text-align: center;
        font-weight: 500;
        font-size: 13px;
        line-height: 24px;
        color: #7E7E7E;
        cursor: pointer;

        &:first-child {
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
        }

        &:last-child {
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
        }

        &--muted {
            color: #E1E1E1;
            cursor: default;
            opacity: 0;
        }

        &--selected {
            background-color: $ax-color-teal-2;
        }

        &--first-selected,
        &--last-selected {
            &:before {
                position: absolute;
                top: 0;
                bottom: 0;
                background-color: #fff;
                content: '';
            }

            .date-range-selector__day {
                position: relative;
                display: inline-block;
                width: 23px;
                color: $ax-color-gray-1;
                background-color: $ax-color-teal-6;
                border-radius: 50%;
            }
        }

        &--first-selected {
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;

            &:before {
                left: 0;
                right: 50%;
            }
        }

        &--last-selected {
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;

            &:before {
                left: 50%;
                right: 0;
            }
        }

        &.date-range-selector__cell--first-selected.date-range-selector__cell--last-selected {
            background: transparent;
        }
    }
}
