.ax-list {
    width: 100%;
    table-layout: fixed;

    th {
        padding: .75em 1em;
        color: $ax-color-gray-7;
        text-align: left;
    }

    td {
        padding: 2em 1em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    thead tr {
        border-left: 0.125em solid transparent;
        border-right: 0.125em solid transparent;
    }

    tbody tr {
        background-color: #fff;
        border: 0.125em solid #f1f1f1;
        border-bottom: 0.125em solid #c6ced0;

        &:hover,
        &.selected {
            background-color: $ax-color-teal-2;
            cursor: pointer;
        }
    }
}
