@import '../../assets/styles/config';

.ax-notifications-list {
    position: fixed;
    top: 0;
    left: $notifications-left-offset;
    right: 0;
    z-index: $notifications-z-index;
    box-shadow: 2px 0 6px rgba(#000, .3);
}

.ax-notification {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: $notifications-height;
    padding: 0 60px 0 30px;
    line-height: $notifications-height;
    font-size: 20px;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &.success {
        background-color: $ax-success-color;
    }

    &.warning {
        background-color: $ax-status-warning-color;
    }

    &.error {
        background-color: $ax-failed-color;
    }

    &__ico {
        vertical-align: middle;
        margin-right: 10px;
        border-radius: 50%;
        border: 1px solid rgba(#fff, .4);
    }

    &__close {
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        cursor: pointer;
    }
}
