@font-face {
    font-family: "ax-icon-v1";
    src: url("./assets/fonts/ax-icon-v1.eot?f2f664bd3fd2c9a7778e9322fb53c291?#iefix") format("embedded-opentype"),
url("./assets/fonts/ax-icon-v1.woff?f2f664bd3fd2c9a7778e9322fb53c291") format("woff"),
url("./assets/fonts/ax-icon-v1.ttf?f2f664bd3fd2c9a7778e9322fb53c291") format("truetype"),
url("./assets/fonts/ax-icon-v1.svg?f2f664bd3fd2c9a7778e9322fb53c291#ax-icon-v1") format("svg");
}

i {
    line-height: 1;
}

[data-icon]:before {
    font-family: "ax-icon-v1" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="ax-icon-"]:before,
[class*=" ax-icon-"]:before {
    font-family: "ax-icon-v1" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="ax-icon-"]:before,
[class*=" ax-icon-"]:before {
  font-family: "ax-icon-v1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ax-icon-add-attribute:before {
  content: "\f101";
}
.ax-icon-addstorage:before {
  content: "\f102";
}
.ax-icon-admin-access:before {
  content: "\f103";
}
.ax-icon-application:before {
  content: "\f104";
}
.ax-icon-applications:before {
  content: "\f105";
}
.ax-icon-approval:before {
  content: "\f106";
}
.ax-icon-appstore:before {
  content: "\f107";
}
.ax-icon-artifact:before {
  content: "\f108";
}
.ax-icon-aws-logo:before {
  content: "\f109";
}
.ax-icon-axcluster:before {
  content: "\f10a";
}
.ax-icon-axlogo:before {
  content: "\f10b";
}
.ax-icon-back:before {
  content: "\f10c";
}
.ax-icon-bitbucket:before {
  content: "\f10d";
}
.ax-icon-branch:before {
  content: "\f10e";
}
.ax-icon-build:before {
  content: "\f10f";
}
.ax-icon-calendar-menu:before {
  content: "\f110";
}
.ax-icon-calendar:before {
  content: "\f111";
}
.ax-icon-cancel-2-1:before {
  content: "\f112";
}
.ax-icon-cancel-2:before {
  content: "\f113";
}
.ax-icon-cancel:before {
  content: "\f114";
}
.ax-icon-cashboard:before {
  content: "\f115";
}
.ax-icon-catalog:before {
  content: "\f116";
}
.ax-icon-checked:before {
  content: "\f117";
}
.ax-icon-checkmark:before {
  content: "\f118";
}
.ax-icon-checkout:before {
  content: "\f119";
}
.ax-icon-clock:before {
  content: "\f11a";
}
.ax-icon-close:before {
  content: "\f11b";
}
.ax-icon-code-file:before {
  content: "\f11c";
}
.ax-icon-collapse-arrow:before {
  content: "\f11d";
}
.ax-icon-commit:before {
  content: "\f11e";
}
.ax-icon-concurrent-usage:before {
  content: "\f11f";
}
.ax-icon-configs:before {
  content: "\f120";
}
.ax-icon-configurations:before {
  content: "\f121";
}
.ax-icon-connect:before {
  content: "\f122";
}
.ax-icon-console:before {
  content: "\f123";
}
.ax-icon-dashboards:before {
  content: "\f124";
}
.ax-icon-delete-attribute:before {
  content: "\f125";
}
.ax-icon-delete:before {
  content: "\f126";
}
.ax-icon-deploy:before {
  content: "\f127";
}
.ax-icon-deployment:before {
  content: "\f128";
}
.ax-icon-docker:before {
  content: "\f129";
}
.ax-icon-docs:before {
  content: "\f12a";
}
.ax-icon-download:before {
  content: "\f12b";
}
.ax-icon-edit-property:before {
  content: "\f12c";
}
.ax-icon-edit-user:before {
  content: "\f12d";
}
.ax-icon-edit:before {
  content: "\f12e";
}
.ax-icon-expand-arrow:before {
  content: "\f12f";
}
.ax-icon-expand:before {
  content: "\f130";
}
.ax-icon-external-link:before {
  content: "\f131";
}
.ax-icon-fav-selected:before {
  content: "\f132";
}
.ax-icon-fav:before {
  content: "\f133";
}
.ax-icon-filter:before {
  content: "\f134";
}
.ax-icon-fixture:before {
  content: "\f135";
}
.ax-icon-fixturecat:before {
  content: "\f136";
}
.ax-icon-fixturenew:before {
  content: "\f137";
}
.ax-icon-folder-lock:before {
  content: "\f138";
}
.ax-icon-gcp-logo:before {
  content: "\f139";
}
.ax-icon-git:before {
  content: "\f13a";
}
.ax-icon-github:before {
  content: "\f13b";
}
.ax-icon-help:before {
  content: "\f13c";
}
.ax-icon-hosts:before {
  content: "\f13d";
}
.ax-icon-import:before {
  content: "\f13e";
}
.ax-icon-info:before {
  content: "\f13f";
}
.ax-icon-integrations:before {
  content: "\f140";
}
.ax-icon-intlogo:before {
  content: "\f141";
}
.ax-icon-jira:before {
  content: "\f142";
}
.ax-icon-job:before {
  content: "\f143";
}
.ax-icon-label:before {
  content: "\f144";
}
.ax-icon-launcher:before {
  content: "\f145";
}
.ax-icon-lock:before {
  content: "\f146";
}
.ax-icon-logout:before {
  content: "\f147";
}
.ax-icon-manage:before {
  content: "\f148";
}
.ax-icon-menu-2:before {
  content: "\f149";
}
.ax-icon-metrics:before {
  content: "\f14a";
}
.ax-icon-more:before {
  content: "\f14b";
}
.ax-icon-new:before {
  content: "\f14c";
}
.ax-icon-nonmarkingreturn:before {
  content: "\f14d";
}
.ax-icon-notification:before {
  content: "\f14e";
}
.ax-icon-pencil:before {
  content: "\f14f";
}
.ax-icon-play-2:before {
  content: "\f150";
}
.ax-icon-play:before {
  content: "\f151";
}
.ax-icon-pod:before {
  content: "\f152";
}
.ax-icon-policies:before {
  content: "\f153";
}
.ax-icon-policy:before {
  content: "\f154";
}
.ax-icon-profile:before {
  content: "\f155";
}
.ax-icon-push:before {
  content: "\f156";
}
.ax-icon-report-card:before {
  content: "\f157";
}
.ax-icon-resubmit-failed:before {
  content: "\f158";
}
.ax-icon-retry:before {
  content: "\f159";
}
.ax-icon-right-navigation-toolbar:before {
  content: "\f15a";
}
.ax-icon-safe:before {
  content: "\f15b";
}
.ax-icon-sales-channels:before {
  content: "\f15c";
}
.ax-icon-sample:before {
  content: "\f15d";
}
.ax-icon-scale:before {
  content: "\f15e";
}
.ax-icon-search:before {
  content: "\f15f";
}
.ax-icon-settings:before {
  content: "\f160";
}
.ax-icon-slack-02:before {
  content: "\f161";
}
.ax-icon-stop-property:before {
  content: "\f162";
}
.ax-icon-stop:before {
  content: "\f163";
}
.ax-icon-storageclass:before {
  content: "\f164";
}
.ax-icon-storageprovider:before {
  content: "\f165";
}
.ax-icon-tag:before {
  content: "\f166";
}
.ax-icon-template:before {
  content: "\f167";
}
.ax-icon-terminate:before {
  content: "\f168";
}
.ax-icon-test:before {
  content: "\f169";
}
.ax-icon-timeline:before {
  content: "\f16a";
}
.ax-icon-tools:before {
  content: "\f16b";
}
.ax-icon-user-groups:before {
  content: "\f16c";
}
.ax-icon-user-profile:before {
  content: "\f16d";
}
.ax-icon-user:before {
  content: "\f16e";
}
.ax-icon-users:before {
  content: "\f16f";
}
.ax-icon-volume:before {
  content: "\f170";
}
.ax-icon-workflow:before {
  content: "\f171";
}
.ax-icon-yaml:before {
  content: "\f172";
}
